body {
    margin: 0;
    padding: 0;
    background-image: url('../img/sena.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 90vh;
    /* min-width: 50vh; */
    margin: 0;
    padding: 0;
    
}
input[type="text"]{
    text-transform: uppercase;
}
input.no-uppercase {
    text-transform: none;
}

.datosUsuario {
    background-color: rgba(255, 165, 0, 0.5);
    border-radius: 20px;
    padding: 5%;
    width: 70%;
    max-width: 800px;
    margin: 10vh auto;
    overflow-y: auto;
    margin-bottom: 50px;
}

.registroFormulario {
    text-align: center;
}

.registroFormulario form {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    /* Divide el formulario en cuatro columnas iguales */
}

.registroFormulario label {
    font-weight: bold;
}

.registroFormulario input,
.registroFormulario select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.registroFormulario button {
    width: auto;
    padding: 5px 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.registroFormulario p {
    margin-top: 20px;
    font-size: 14px;
}

/* Alinear el enlace a la derecha */
.registroFormulario a {
    text-align: right;
    display: block;
    margin-top: 10px;
}
/* aqui esta el css del login */
.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 600px;
    margin: 10vh auto;
    padding: 20px;
    background-color: rgba(255, 165, 0, 0.5);
    border-radius: 20px;
}

/* Estilos para el título */
.loginTitulo {
    text-align: center;
}

/* Estilos para el logo */
.loginLogo {
    margin-bottom: 20px;
    margin-right: 10%;
}

/* Estilos para el formulario */
.loginFormulario {
    text-align: center;
}

/* Estilos para el área de administrador */
.loginAdministrador {
    margin-top: 20px;
}

/* Estilos para el formulario dentro de loginFormulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para las etiquetas del formulario */
label {
    margin-bottom: 5px;
}

/* Estilos para los campos de texto del formulario */
input[type="text"],
input[type="password"] {
    width: 250px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid ;
    border-radius: 4px;
}

/* Estilos para el botón del formulario */
button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: .23527c;
}


/* aqui va la parte de la cabecera */

.cabeceraBienvenida {
    position: relative;
        margin-top: 0;
        width: 100%;
        height: 5%;
        background-color: rgba(255, 165, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: space-around;
}

.botonCerrarSesion {
position: absolute;

    top: 12%;
    /* Agregado margen inferior */
    right: 5%;
    /* Agregado margen derecho */
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

/* Estilo adicional para el botón */
.botonCerrarSesionB {
    border-radius:  50px;
    background-color: white;
    padding: auto;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.botonCerrarSesionImagen{
    width: 40px;
}

.barraNavegacion {
    position: absolute;
    top: 28%;
    width: 100%;
    height: 5%;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 165, 0, 0.5);
    align-items: center;
    align-content: center;
    overflow: hidden;
    /* Añadimos overflow: hidden para ocultar el contenido que se sale */
}

.barraNavegacion ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    height: 100%;
    /* Ajustamos el height para que ocupe toda la altura de la barraNavegacion */
}

.barraNavegacion li {
    display: inline;
    height: 100%;
    /* Ajustamos el height para que ocupe toda la altura de la barraNavegacion */
}

.barraNavegacion a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    height: 100%;
    /* Ajustamos el height para que ocupe toda la altura de la barraNavegacion */
    box-sizing: border-box;
    /* Mantenemos el padding dentro del tamaño total */
}

/* Estilos para el enlace activo */
.barraNavegacion li.active a {
    background-color: green;
    color: #333;
}


.main {
    position: absolute;
    top: 33%;
    width: 80%;
    min-height: 80%;
        height: auto;;
    float: left;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    align-items: center;
    align-content: center;
    margin-bottom: 100px;
    /* Add this line */
}
.aside {
    position: absolute;
    top: 33%;
    right: 0;
    width: 20%;
    min-height: 80%;
        height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    /* Agregamos la sombra al lado izquierdo */
    border-left: solid 2px gray;
}

.aside p {
    margin: 10px;
    font-size: 14px;
}

.aside article {
    padding: 10px;
}

.aside ul {
    list-style: none;
    padding: 0;
}

.aside li {
    margin-bottom: 8px;
}

.aside a {
    text-decoration: none;
    color: #333;
    /* Color del texto de los enlaces */
    font-weight: bold;
    /* Hacemos que el texto sea más grueso */
    display: block;
    padding: 8px;
    background-color: #eee;
    /* Color de fondo de los enlaces */
    border-radius: 4px;
    /* Bordes redondeados */
    transition: background-color 0.3s ease;
    /* Transición suave para el cambio de color de fondo */
}

.aside a:hover {
    background-color: #ddd;
    /* Cambio de color de fondo al pasar el ratón sobre los enlaces */
}
.user-profile {
    border-collapse: collapse;
    width: 80%;
    padding-top: 10px;
    margin: 20px auto;

}

.user-profile th,
.user-profile td {
    border: 1px solid #ddd;
    text-align: left;
}

.user-profile th {
    background-color: #f2f2f2;
}
.formularioPerfil {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 10%;
}

/* Estilos específicos para las secciones del formulario */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    text-align: left;
}

/* Ajusta el ancho de los select para que coincida con los input */
select {
    width: calc(100% - 20px);
}

/* Estilos para etiquetas y campos de entrada */
label {
    display: block;
    margin-bottom: 5px;
}
input,
select {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilos para el botón */
.botonModificar {
    text-align: center;
    margin-top: 20px;
}
/* cookies para las notificaciones */
.notificacion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.notificacion img{
    width: 200px;
}
.notificacion .exito::before {
    content: "✅ ";
    font-size: 24px;
    /* Ajusta el tamaño según tus preferencias */
    color: green;
}

.notificacion .error::before {
    content: "❌ ";
    font-size: 24px;
    /* Ajusta el tamaño según tus preferencias */
    color: red;
}

.exito {
    color: green;
}

.error {
    color: red;
}

/* Estilos para el formulario */
button {
    background-color: green;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 165, 0, 0.5);
    color: white;
    padding: 0;
    margin-top: 100%;
    text-align: center;
}